{% extends 'base.html.twig' %}

{% block title %}Dane o rezerwacji{% endblock %}

{% block body %}
    <h1>Dane o rezerwacji</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client_arcade.id }}</td>
            </tr>
            <tr>
                <th>Nazwa_klienta</th>
                <td>{{ client_arcade.NazwaKlienta }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ client_arcade.Data ? client_arcade.Data|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Godzina</th>
                <td>{{ client_arcade.Godzina ? client_arcade.Godzina|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Rezerwacja</th>
                <td>{{ client_arcade.Rezerwacja ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Rodzaj_automatu_do_gry</th>
                <td>{{ client_arcade.RodzajAutomatuDoGry }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_client_arcade_index') }}">Powrót do listy</a>

    <a href="{{ path('app_client_arcade_edit', {'id': client_arcade.id}) }}">Edycja</a>

    {{ include('client_arcade/_delete_form.html.twig') }}
{% endblock %}
